.App {
  text-align: center;
  
}

.container {
  background: #333333;
  margin: 0;
  overflow-x: hidden;
  margin: 0 auto;
  height: 85rem;
  max-width: 112.0rem;
  padding: 0 4.0rem;
  position: relative;
  height: 85rem;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.desktop {
  background: linear-gradient(90deg, #d85938, #dd8a4c);  /* background: url(/steel.jpg); */
  background-position: left top;
  background-position-x: left;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10rem;
  background-position-y: top;
  background-repeat: round;


}
.logocontainer h1 {
  margin-bottom: -2.0rem;
}
h1 {
  text-align: center;
  font-family: monospace;
  font-size: 4.6rem;
  

}
p {
  color: lightgray;

}
.li a {
  color: #E57254;
}

.nav {
  display: flex;
  justify-content: left;
}
.nav p{
  height: 39%;
  margin-top: 8%;
  background: unset;
  font-size: large;
}
.bottomnavbar a {
  color: white;
  text-decoration: none;
}

.tabs {
  list-style: none;
  margin: 0;
  margin-left: -4%;
  margin-right: -11%;
  border-left-style: groove;
  border-radius: 15px;
  /* border-left: 28px; */
  border-left-width: 67px;
  /* border-right-width: 104px; */
  border-right-style: groove;
  border-left-color: #f998a6;
  background: #E5C454;
  display: flex;
  /* align-items: flex-start; */
  flex-wrap: nowrap;
}

.tabs li {
  width: 40%;
  height: 40%;
  text-decoration: overline;
  display: block;
  width: 69%;
  padding: 1em;
  /* color: rgb(47, 40, 199); */
  text-align: center;
  padding: 10px;
  border-top: 1px solid rgba(255,255,255,0.3);
  border-bottom: 6px solid rgba(0,0,0,0.1);
  font-family: inherit;
  font-size: inherit;

}
.tabs li a {
  color: #282c34b8;
  font-weight: bold;
    font-family: 'DM Serif Display';
}

.tabs Link {
  text-decoration: none;
  display: block;
  width: 40%;
  padding: 1em;
  color: white;
  text-align: center; 
  padding: 10px;
  border-top: 1px solid rgba(255,255,255,0.3); 
  border-bottom: 1px solid rgba(0,0,0,0.1); 
}

.tabs Link:hover {
  background: darken(deepskyblue, 2%);
}

.tracks-slider-wrapper {
  display: flex;
  position: absolute;


}


.tracks-slider-single {
  background: url(/compositiondiary2.jpg);
  background-repeat: round;
  background-size: cover;
  /* background-color: #656565; */
  border-radius: 20px;
  color: white;
  font-size: 150%;
  padding: 0.89%;
  padding-right: 0.89%;
  /* max-width: 100%; */
  height: 40rem;
  position: relative;
  margin: 0 auto;
  flex: 1 1;
  min-width: 10%;
  /* border-left: #dd8a4c; */
  /* border-left-width: 1.1rem; */
  /* border-left-style: ridge; */
}

.tracks-slider {
    /* background-image: url(../../public/woodDesktopImage.jpeg); */
    /* background-color: honeydew; */
    /* background-color: #656565; */
    /* padding: 10%; */
    max-width: 21.75rem;
    overflow-x: scroll;
    height: -webkit-fill-available;
    position: relative;
    margin: 0 auto;

  
}
/* .tracks-slider:after {
  content: '';
  display: block;
  width: 100%;
  
  outline: 5px solid #61dafb;
  position: absolute;
  top:0;
  left:0;
    
}  */
.tracks-slider h2 {
  text-align: center;
  font-family: monospace;
  text-decoration: underline;
  text-decoration-color: #f0808080;
  text-decoration-style: wavy;
  text-transform: uppercase;
  font-size: xx-large;
  color: #e5c454;
  padding: -7px;
  margin-left: 0%;
  margin-top: 25%;
  color: firebrick;
  text-decoration: underline;
  text-align: center;
  font-size: 110%;
  font-family: 'Finger Paint';
  /* margin-bottom: -1rem; */
  background: white;
  max-width: 20rem;
}
.tracks-slider h3 {
  padding: 5px;
  color: silver;
  font-size: larger;
  text-align: center;
  font-family: 'DM Serif Display';
  background: white;
  max-width: 15rem;
  margin-left: 0%;
  max-width: none;
  line-height: 1.0;
  margin-top: 11%;
}

.tracks-slider p {
    /* padding: 5px; */
    color: wheat;
    text-align: center;
    font-family: monospace;
    /* text-decoration: double; */
    background: none;
}

.tracks-slider button {
    color: #5f6c75;
    background: #e1e1e1;
    /* border: 15rem; */
    border: 0.1rem solid black;
    /* width: 20.2rem; */
    font-family: monospace;
    /* margin: -4rem; */
    /* border-radius: 3rem; */
}
p {
  margin-top: 0;
  padding-left: 2%;
  background: #00000063;
  font-size: 2rem;
  

}


.track-lyrics h2 {
  text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: -webkit-xxx-large;
    margin-bottom: -7px;
}
.track-lyrics h3 {
  text-align: center;
  font-family: monospace;
  text-decoration: underline;
  text-decoration-color: #f0808080;
  text-decoration-style: wavy;
  text-transform: uppercase;
  font-size: xx-large;
  color: #5483e5;
    
}
.track-lyrics button {
 
  margin-left: 40%;
    background: unset;
    border: 0.1rem solid gray;
    border-radius: .4rem;
    font-family: monospace;
}

.lyrics-original {
  background: floralwhite;
  text-decoration: underline;
  text-decoration-color: lightblue;
  display: table-cell;
  border-radius: 6px;
  color: darkslategrey;
  font-size: 180%;
  font-family: monospace;
  max-width: 65%;
  padding: 5%;
  margin-left:auto;
  margin-right:auto;

}
.track-lyrics p {
  /* text-align: center; */
  border-left-width: 42px;
  border-left-style: inset;
  max-width: 41rem;
  border-left-color: rgba(199, 40, 40, 0.22);
}
.lyrics-translated i {
  font-family: monospace;
  color: #61b0f2;
}
.lyrics-translated {
  background: linear-gradient(90deg, #033351, #0a4c73d1);
  text-decoration: none;
  border-radius: 5px;
  /* border-color: blue; */
  color: wheat;
  font-size: 2rem;
  border-left: 24px;
  border-left: 28px;
  border-left-width: 42px;
  border-left-style: groove;
  border-left-color: steelblue;
  font-family: 'Calligraffitti', cursive;
  padding: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 18%;
  padding-left: inherit;
  position: fixed;
  right: 4px;
  bottom: 1%;
  max-width: 60%;

}


.createadeck {
  color: seashell;
  position: sticky;
  max-width: 50%;
  margin-left: 2rem;
}



.lyrics-selected i {
  color: #ffb090;
  font-family: monospace;
}
.lyrics-selected {
  background: linear-gradient(90deg, #dd8a4c, #ba4121);  border-radius: 18px;
  color: seashell;
  /* border-color: blue; */
  font-size: 3rem;
  border-left: 24px;
  border-left: 28px;
  border-left-width: 42px;
  border-left-style: groove;
  border-left-color: #da642c;
  /* border-left-color: aliceblue; */
  font-family: 'Calligraffitti', cursive;
  padding: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 18%;
  padding-left: 2%;
  position: fixed;
  right: 4px;
  bottom: -25px;
  max-width: 71%;

}

.revealTranslations {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.deck-card {
  background-color: #79ab7f;
  border-radius: 20px;
  color: white;
  font-size: 150%;
  padding: 10%;
  margin-bottom: 2%;
  /* flex: 1; */
}
.deck-card h2 {
      /* background: azure; */
      text-align: center;
      padding: 5px;
      font-size: -webkit-xxx-large;
      color: #333333;
      font-family: 'Calligraffitti', cursive;
}
.deck-card p {
    /* background: azure; */
    text-align: center;
    border-radius: 61%;
    padding: 5px;
    background: #0000004f;
    font-size: x-large;
    /* color: #333333; */
    font-family: 'Calligraffitti', cursive;
}


@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');

@import url('https://fonts.googleapis.com/css?family=Calligraffitti&display=swap');

@import url('https://fonts.googleapis.com/css?family=Finger+Paint&display=swap');
html {
  position: relative;
  min-height: 100%;
}
body {
  /* margin: 0 0 60px; bottom has to be the same as footer height */
  margin: 0;
  overflow-x: hidden;
}
.bottomnavbar-container {
  position: relative;

}


.bottomnavbar-search-block {
  background-color: #322e2f;
  /* background-color: #dd45448c; */
  border-top: 1px solid #E7E7E7;
  text-align: center;
  padding: 20px;
  /* color: turquoise; */
  text-decoration-color: fixed;
  position: fixed;
  right: 60%;
  bottom: 4%;
    height: 60px;
  width: 34%;
}
.bottomnavbar-add-block {
  background-color: #322e2f;
    /* background-color: #f28904a1; */
  border-top: 1px solid #E7E7E7;
  text-align: center;
  padding: 20px;
  /* position: fixed; */
  position: fixed;
  left: 60%;
  bottom: 4%;
    height: 60px;
  width: 34%;
}
.bottomnavbar li {
  text-decoration: none;
  display: block;

}
.bottomnavbar a {
  color: white;
  /* background: slategray; */
  font-family: 'DM Serif Display';
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  background-color: #e57254;
  border: .1rem solid #ba4121;
  border-radius: .4rem;
  color: #333;
  font-family: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  font-family: monospace;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}