/* BODY AND GENERAL */

.App {
  text-align: center;
  
}
body {
  padding-bottom: 74%;
  padding-left: 0%;
  padding-right: 0%;
  letter-spacing: .01em;
  margin: 0px;
  line-height: 1.6;
  overflow-x: auto;
  background-color: #FFE082;
}
.container {
  margin: 0;
  max-width: 112.0rem;
  padding: 0.1rem;
  position: relative;
  width: 100%;
}


html {
  /* position: relative; */
  min-height: 100%;
}

.bottomnavbar-container {
  position: relative;

}

.homepageexplainer {
  display: flex;
  font-size: 2.8rem;
  letter-spacing: -.05rem;
  color: #168276;
  line-height: 1.5;
  font-family: monospace;
  justify-content: space-between;
}
.codythisissearchresult {
  display: flex;
  background: -webkit-repeating-radial-gradient(#c24141,#ef7707,#feb512);
  padding-bottom: 10rem;
  justify-content: space-between;
}
.codythisissearchresult p {
  font-family: Arial, Helvetica, sans-serif;

}


/* BUTTONS -----------------------
AND 
FORMS */

.button, button, dd, dt, li {
  margin-bottom: 1.0rem;
  cursor: 'pointer';
}

form {
  display: block;
  /* font-weight: 700; */
  line-height: 3rem;
  /* font-size: 193%; */
  cursor: 'pointer';
  text-align: center;
  font-family: monospace;
  margin-bottom: 0rem;
  color: #753c3a;
}
input #track {
  color: red;
  cursor:'pointer';
}
input #submit {
  background-color: #2e181c;
  border: 0.1rem solid #e5725469;
  border-radius: 0.4rem;
  color: #fff;
  cursor:'pointer';
 
  font-family: inherit;
  display: inline-block;
  font-size: 2.1rem;
  font-weight: 700;
  height: 4.8rem;
  letter-spacing: .1rem;
  line-height: 4.8rem;
  padding: 0px 8rem;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  white-space: nowrap;
  margin-bottom: 3rem;
}

.tracks-slider button {
  width: -webkit-fill-available;
  color: #e5c454;
  background-color: #795548;
  cursor: 'pointer';
  border-color: #deb88700;
}
.track-lyrics button {
  font-family: monospace;
  cursor:'pointer';
}

.lyrics-selected button {
  color: #652c1c;
  font-family: monospace;
  cursor:'pointer';
  position: fixed;
  left: 22%;
  top: 19rem;
}

form .button {
  background-color: #2e181c;
  border-color: #178376;
  cursor:'pointer';
}
.lyrics-selected a {
  position: fixed;
  left: 1rem;
  cursor: 'pointer';
  bottom: 0rem;
  font-size: 3rem;
}

.nav p {
  color: #e57254;
  position: fixed;
  background: unset;
  cursor:'pointer';
  margin-bottom: 0rem;
  left: 1rem;
  font-family: monospace;
}
/* B O T T O M 
NAV 
BAR */

.bottomnavbar a {
  color: white;
  text-decoration: none;
  cursor:'pointer';
  FONT-SIZE: -webkit-xxx-large;
}
.bottomnavbar-search-block {
  text-decoration-color: fixed;
  position: fixed;
  cursor: 'pointer';
  left: 0rem;
  /* padding-left: 1rem; */
  bottom: -1rem;
  background-color: #753c3a;
  text-align: center;
  height: 7rem;
  width: 50%;
  font-size: -webkit-xxx-large;
}
.bottomnavbar-add-block {
  text-decoration-color: fixed;
  text-align: center;
  position: fixed;
  cursor: 'pointer';
  right: 0rem;
  /* padding-right: 1rem; */
  bottom: -1rem;
  background-color: #753c3a;
  /* background: #178376a1; */
  height: 7rem;
  width: 50%;
  font-size: -webkit-xxx-large;
}
.bottomnavbar li {
  text-decoration: none;
  display: block;
  cursor:'pointer';

}

/* INPUT TEXT FORM */
input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* background-color: transparent; */
  border: 0.1rem solid #158276;
  /* border-radius: 4.4rem; */
  box-shadow: none;
  box-sizing: inherit;
  color: #ffe082;
  font-family: monospace;
  height: 3.8rem;
  background: linear-gradient(90deg, #ef7707c7, #753c3ad4);
  padding: .1rem 0.02rem;
  font-size: 3rem;
  width: 22rem;
}
input[type='text'], input[type='url'], textarea:focus, select:focus {
  border-color: #4CAF50;
  cursor:'pointer';
}






/* T A B S - 
- and nav
-  */

.tabs {
  list-style: none;
  margin: 0;
  display: flex;
  /* background: #1782769e; */
  cursor: 'pointer';
  /* margin-top: 0rem; */
  width: -webkit-fill-available;
  justify-content: center;
}
.nav {
  cursor:'pointer';

  display: flex;
  justify-content: space-between;
  /* padding-top: 9rem; */
}
.nav strong {
  color: #7a3024;
  cursor:'pointer';
}
/* LOGIN 
AND SIGNUP LINKs */
.nav a {
  color: #ef7707;
  font-size: xx-large;
  cursor: 'pointer';
  font-family: monospace;
}
.loginsignup {
  display: contents;
}

/* HOME 
TRACKS PAGE */
/* CANTAR 
TOP LOGO */

.logocontainer h1 {
  color: #fcebcf;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: -webkit-xxx-large;
  margin-bottom: 0rem;
  line-height: 1.1rem;
  cursor:'pointer';
}

.tabs .music .language li {
  width: 40%;
  height: 40%;
  text-decoration: overline;
  display: block;
  width: 69%;
  padding: 1em;
  cursor:'pointer';
  margin-bottom: 2rem;
  padding: 10px;
  border-top: 1px solid rgba(255,255,255,0.3);
  border-bottom: 6px solid rgba(0,0,0,0.1);
  font-family: inherit;
  font-size: inherit;
}
/* CAN big */
.tabs .music li a {
  color: #b94021;
  font-size: 9rem;
  letter-spacing: 0.1px;
  cursor: 'pointer';
  font-weight: bold;
  font-family: 'DM Serif Display';
}
/* TAR big */
.tabs .language li a {
  color: #00695C;
  font-weight: bold;
  cursor: 'pointer';
  letter-spacing: 0.1px;
  font-size: 9rem;
  font-family: 'DM Serif Display';
}

/* L I G H T B U L B */
.spinning-button a {
  color: #652c1c;
  text-decoration: none;
  font-size: 4rem;
  cursor:'pointer';
  /* padding: 1.5rem; */
}
.spinning-button {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: fixed;
  cursor:'pointer';
  top: 2%;
  right: 0rem;

}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
/* LIGHTBULB */
.tabs Link {
  text-decoration: none;
  display: block;
  width: 40%;
  padding: 1em;
  color: white;
  text-align: center; 
  padding: 10px;
  border-top: 1px solid rgba(255,255,255,0.3); 
  border-bottom: 1px solid rgba(0,0,0,0.1); 
}
.tabs Link:hover {
  background: darken(deepskyblue, 2%);
}


/* 
  Fonts
    O
      N
        T
          S 
            */

p {
  background: #00000063;
  font-size: 2.1rem;
  text-align: center;
  font-family: monospace;
  cursor:'pointer';
  background: #7a3024;
  color: #fbf2ce;
}  
.track-lyrics p {
  text-align: justify;
  -moz-user-select: text;
  background: #753c3a;
  margin-top: 0rem;
  padding-right: 0rem;
  position: relative;
  user-select: text;
  font-size: 2.5rem;
  line-height: normal;
  cursor: 'pointer';
  -webkit-user-select: text;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}
.myteachersmytracks p {
  color: #fcebcf;
  line-height: 3rem;
  font-size: larger;
  margin-bottom: 0px;
  text-align: -webkit-center;
  font-family: 'DM Serif Display';
  cursor:'pointer';
  font-size: 5rem;
  color: #fcebcf;
  font-family: 'DM Serif Display', serif;
}
.tracks-slider p {
  line-height: 1;
  color: #652c1c;
  text-transform: uppercase;
  text-align: center;
  font-family: monospace;
  cursor:'pointer';
  background: none;
  padding-bottom: 6px;
  font-size: 4rem;
  margin-bottom: 0%;
}
.deck-card p {
  background: #2e181c;
  text-align: right;
  border-radius: 0%;
  font-weight: bold;
  cursor:'pointer';
  padding: 5px;
  font-size: x-large;
  margin-bottom: 0rem;
  text-transform: uppercase;
  color: #652c1c;
  line-height: 1.7rem;
  font-family: monospace;
}
h4 {
  cursor: 'pointer';
  font-family: monospace;
  color: #e5c454;
  text-align: -webkit-center;
  font-size: 3.2rem;
  letter-spacing: 0.52rem;
  line-height: 1.35;
  color: #753c3a;
  margin-bottom: 0.5rem;
}
h5.red {
  color: #b94021;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.2rem;
  /* margin-bottom: 0rem;
  padding: 0rem; */
}
h5.green {
  color: #009688;
  text-align: right;
  font-size: 1.5rem;
  line-height: 1.2rem;
}
@import url('https://fonts.googleapis.com/css?family=Rakkas&display=swap');
.tracks-slider h3 {
  color: #fcebcf;
  line-height: 4rem;
  font-size: larger;
  text-transform: capitalize;
  margin-bottom: 3px;
  cursor: 'pointer';
  text-align: -webkit-center;
  font-family: 'DM Serif Display';
  font-size: 5rem;
  color: #753c3a;
  font-family: 'Rakkas', cursive;
  padding-top: 2rem;
}

.explainer p {
  background: #fec23d;
  color: #444c8c;
  text-align: center;
  font-family: 'Rakkas', cursive;
}

.track-lyrics h3 {
  text-align: -webkit-center;
  font-family: monospace;
  text-decoration: overline;
  text-decoration-color: #ef7707;
  cursor: 'pointer';
  /* text-decoration-style: inherit; */
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  color: #c24141;
  text-transform: capitalize;
  margin-bottom: 0;
}


.deck-card h2 {
  text-align: inherit;
  padding: 0%;
  font-size: 238%;
  color: #e5c454;
  text-transform: inherit;
  font-family: 'DM Serif Display', serif;
  width: 98%;
  padding-left: 1%;
  line-height: 114%;
  margin-bottom: 4rem;
  margin-left: 4%;
}
.track-lyrics h2 {
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 5rem;
  line-height: 0.5rem;
  /* background: #b94021a1; */
  color: #927c72;
  width: 100%;
  padding-bottom: 0.1rem;
  text-transform: capitalize;
  padding-top: 3rem;
  margin-top: 0;
  color: #fcebcf;
  line-height: 3rem;
  font-size: larger;
  text-transform: capitalize;
  margin-bottom: 0px;
  cursor: 'pointer';
  text-align: -webkit-center;
  font-family: 'DM Serif Display';
  font-size: 5rem;
  color: #753c3a;
  font-family: 'Rakkas', cursive;
  padding-top: 2rem;
}
.tracks-slider h2 {
  text-align: center;
  font-family: monospace;
  text-decoration: underline;
  text-decoration-color: #ef7707;
  text-decoration-style: inherit;
  text-transform: capitalize;
  color: #c24141;
  font-size: 137.8%;
  margin-bottom: 0rem;
  line-height: 4rem;
}
h1 {
  text-align: center;
  font-family: 'DM Serif Display, serif';
  font-size: 4.6rem;
  line-height: 1;
  line-height: 3.5rem; 
  color: #fcebcf;
  width: 100%;
}





/* TRACKS SLIDER MIS CANCIONES / EXPLORE TRENDING  */
.tracks-slider-wrapper {
  display: contents;
  position: absolute;
}
.tracks-slider-single {
  background: #ef7707;
  font-size: 3rem;
  padding-right: 9px;
  padding-left: 9px;
  position: relative;
  border-radius: 24px;
}
.tracks-slider {
  overflow-x: scroll;
  position: -webkit-sticky;
  position: sticky;
  margin: 0 auto;
}

.track-lyrics-header {
  background: linear-gradient(1deg, #feb512, #ffe082fa);
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  width: -webkit-fill-available;
}
.track-lyrics {
  margin-bottom: 16rem;
}




.lyrics-original {
  text-align: justify;
  padding: 0px;
  background: transparent;
  -moz-user-select: text;
  user-select: text;
  -webkit-user-select: text;
  text-decoration: overline;
  text-decoration-color: #c24141;
  display: flex;
  border-radius: 6px;
  color: #ffe082;
  font-size: 97%;
  font-family: 'DM Serif Display', serif;
  margin-top: -3rem;
  margin-left: auto;
  margin-right: auto;
}


.lyrics-translated i {
  font-family: monospace;
  color: #61b0f2;
}
.lyrics-translated {
  background: linear-gradient(90deg, #033351, #0a4c73d1);
  text-decoration: none;
  border-radius: 5px;
  /* border-color: blue; */
  color: wheat;
  font-size: 2rem;
  border-left: 24px;
  border-left: 28px;
  border-left-width: 42px;
  border-left-style: groove;
  border-left-color: steelblue;
  font-family: 'Rakkas', cursive;
  padding: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 18%;
  padding-left: inherit;
  position: fixed;
  right: 4px;
  bottom: 1%;
  max-width: 60%;

}


.newWordNewLanguage {
  color: black;
  /* display: grid; */
  /* justify-content: end; */
  position: fixed;
  width: 25rem;
  left: 35rem;
  padding: 1rem;
  bottom: 14rem;

}
/* ADD TO VOCAB
.newWordNewLanguage button a{
  color: black;
  background: whitesmoke;

}
/* TARGET LANG */
/* .newWordNewLanguage button{
  color: black;

} */ 


.lyrics-selected i {
  font-size: xx-large;
  color: #b5af99;
  font-family: 'DM Serif Display', serif;
  margin-top: -2.3rem;
  margin-right: 54%;
}




.lyrics-selected {
    /* background: linear-gradient(90deg, #b5af99, #656565); */
    /* background: linear-gradient(90deg, #dd8a4c, #ba4121); */
    /* flex: 1 1; */
    color: #fcebcf;
    margin-top: 0px;
    /* border-top-left-radius: 4px; */
    /* font-family: monospace; */
    /* padding: 5%; */
    /* padding-top: 3%; */
    font-family: monospace;
    padding-right: 6%;
    color: #444c8c;
    text-align: center;
    text-transform: uppercase;
    padding-left: 2%;
    /* padding-bottom: 2rem; */
    /* position: fixed; */
    /* right: 0px; */
    padding-right: 2%;
    line-height: normal;
    width: 100%;
    /* top: 27rem; */
    max-width: 89rem;
    margin-bottom: 4rem;
    /* left: 0.1%; */
    /* text-align: center; */
    top: 19rem;
    font-weight: bold;
    font-size: 2.5rem;
    max-height: 9rem;
    overflow-y: scroll;
}



.revealTranslations {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.deck-card {
  background-color: #168276;
  border-radius: 14px;
  /* color: white; */
  /* font-size: 8rem; */
  /* padding: 10%; */
  padding-bottom: 2%;
  margin-bottom: 3%;
  /* flex: 1; */
}
.deck-card button {
  background-color: #16827600;
  border: 0rem solid #9b4dca;
  border-radius: .4rem;
  color: #fff;
  cursor:'pointer';
  display: inline-block;
  font-size: 5.1rem;
  height: 0.8rem;
  line-height: 0.8rem;
  padding: -11rem 32rem;
  text-align: center;
}







